@media (max-width: 1800px) {
    .phrases_eng{
        grid-template-columns: repeat(3, 1fr);
    }
    .words_eng{
        grid-template-columns: repeat(5, 1fr);
    }
    .tenses_eng{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1600px) {
    .main-block{
        display: flex;
        flex-direction: column;
    }
    .subblock1{
        width: 25%;
        height: 25%;
    }
}
@media (max-width: 1200px) {
    .head a{
        font-size: 20px;
    }
    .loader {
        --s: 15px;
    }
    .phrases_eng{
        grid-template-columns: repeat(2, 1fr);
    }
    .words_eng{
        grid-template-columns: repeat(3, 1fr);
    }
    .tenses_eng{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px){
    .head img{
        width: 50%;
    }
     .block1, .idea{
        display: flex;
        flex-direction: column;
        gap: 10px
    }
    .head img{
        width: 30%;
        height: 30%;
    }
    .ru {
        border-right: 0px ;
        border-bottom: 3px solid black;
    }
    .head a{
        font-size: 12px;
        padding: 5px;
        border-radius: 0%;
    }
    .loader {
        --s: 0px;
    } 
    a:hover{
        transform: scale(1.0);
        border: 3px solid rgb(129, 68, 21)
      }
      main{
        margin-bottom: 30%;
      }
      .phrases_eng{
        grid-template-columns: repeat(1, 1fr);
    }
    .words_eng{
        grid-template-columns: repeat(2, 1fr);
    }
    .tenses_eng{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 600px){
    .words_eng{
        grid-template-columns: repeat(1, 1fr);
    }
    .phrases_eng .card,   .tenses_eng .card{
       font-size: 12px;
      }
      .card [data-text2] {
        font-size: 12px; 
      }
     .head{
        flex-direction: column;
     }
     .links{
        display: flex;
     }
     h1{
        font-size: 16px;
     }
     .card{
        width: 200px;
        height: 200px;
     }
     .card[data-text2], .card::before, .card::after{
        font-size: 16px;
     }
     .phrases_eng .card {
        width: 200px;
        height: 200px;
    }
    .tenses_eng .card{
        width: 200px;
        height: 450px;
        font-size: 14px;
    }
    .card::before, .card::after{
        width: 10%;
        height: 10%;
    }
}